@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: Alfa Slab One;
  src: url('./font/AlfaSlabOne-Regular.ttf');
} 
@font-face {
  font-family: Bebas Neue;
  src: url('./font/BebasNeue-Regular.ttf');
}

@media(orientation: landscape){

.section2{
  width: 98vw;
  /* height: 95vh; */
  /* padding-left: 5vh; */
  padding-top:  10vh;
  /* padding-right: 5vh; */
  /* padding-bottom:  80px; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.single{
  background-image: url("./img/group2/Burger1.png");
  width: 40%;
  height: 60vh;
  padding-left: 3vh;
  border-radius: 2vh;
}
.single>h5, .lower>h5, .upper>h5{
  /* margin-left: 24px; */
  /* margin-top: 10px; */
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Bebas Neue";
}
.single>p, .lower>p, .upper>p{
  /* margin-left: 24px; */
  /* margin-top: 30px; */
  /* margin-bottom: 0; */
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Bebas Neue";
}
.double{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upper{
  background-image: url("./img/group2/burger2.png");
  width: 85vh;
  height: 28vh;
  padding-left: 3vh;
  border-radius: 2vh;
}
.lower{
  background-image: url("./img/group2/burger3.png");
  width: 85vh;
  height: 28vh;
  padding-left: 3vh;
  border-radius: 2vh;
  /* width: 596px; */
  /* height: 192px; */
}
}

@media(orientation: portrait){
  
.section2{
  /* width: 98vw; */
  /* height: 95vh; */
  /* padding-left: 5vh; */
  padding-top:  3vh;
  /* padding-right: 5vh; */
  /* padding-bottom:  80px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.single{
  background-image: url("./img/group2/Burger1.png");
  /* width: 40%; */
  /* height: 60vh; */
  padding-left: 3vh;
  border-radius: 2vh;
}
.single>h5, .lower>h5, .upper>h5{
  /* margin-left: 24px; */
  /* margin-top: 10px; */
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Bebas Neue";
}
.single>p, .lower>p, .upper>p{
  /* margin-left: 24px; */
  /* margin-top: 30px; */
  /* margin-bottom: 0; */
  font-size: 18px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Bebas Neue";
}
.double{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upper{
  background-image: url("./img/group2/burger2.png");
  /* width: 85vh; */
  height: 25vh;
  padding-left: 3vh;
  margin-top: 1vh;
  border-radius: 2vh;
}
.lower{
  background-image: url("./img/group2/burger3.png");
  /* width: 85vh;
  height: 28vh; */
  padding-left: 3vh;
  margin-top: 1vh;
  border-radius: 2vh;
  /* width: 596px; */
  /* height: 192px; */
}
}
