@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: Alfa Slab One;
  src: url('./font/AlfaSlabOne-Regular.ttf');
} 
@font-face {
  font-family: Bebas Neue;
  src: url('./font/BebasNeue-Regular.ttf');
}

@media(orientation: landscape){

.section3{
  width: 98vw;
  /* width: 1440px; */
  /* height: 540px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10vh;
  /* margin-left: auto; */
}
.mid{
  margin: auto;
  text-align: center;
}
.mid>h6{
  width: 40vh;
  /* height: 49px; */
  margin: auto;
  /* padding: 20px 0; */
  /* border: 2px solid #000; */
  background-color: #ffc045;
  /* text-align: center; */
  /* vertical-align: middle; */
  font-size: 20px;
  line-height: 38px;
  color: #3d2514;
  font-weight: 700;
  font-family: "Bebas Neue";
}
.mid>p{
  width: 150vh;
  /* height: 46px; */
  font-size: 18px;
}
.parts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.parts>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parts>div>h5{
  margin: auto;
  text-align: center;
  font-size: 38px;
  line-height: 38px;
  color: #3d2514;
  font-weight: 200;
  font-family: "Bebas Neue";
}
.parts>div>img{
  width: 360px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
}
.parts>div>p{
  font-size: 22px;
  text-align: center;
}
.parts>div>button{
  width: 195px;
  height: 57px;
  background-color: #bf2121;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Alfa Slab One";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
}

@media(orientation: portrait){

  .section3{
    width: 98vw;
    /* width: 1440px; */
    /* height: 540px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 3vh;
    /* margin-left: auto; */
  }
  .mid{
    margin: auto;
    text-align: center;
  }
  .mid>h6{
    width: 40vh;
    /* height: 49px; */
    margin: auto;
    /* padding: 20px 0; */
    /* border: 2px solid #000; */
    background-color: #ffc045;
    /* text-align: center; */
    /* vertical-align: middle; */
    font-size: 20px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue";
  }
  .mid>p{
    padding-left: 1vh;
    padding-right: 1vh;
    /* width: 150vh; */
    /* height: 46px; */
    font-size: 18px;
  }
  .parts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .parts>div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parts>div>h5{
    margin: auto;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    color: #3d2514;
    font-weight: 200;
    font-family: "Bebas Neue";
  }
  .parts>div>img{
    width: 360px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .parts>div>p{
    font-size: 22px;
    text-align: center;
  }
  .parts>div>button{
    width: 195px;
    height: 57px;
    background-color: #bf2121;
    font-size: 20px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Alfa Slab One";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }
}