@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: Alfa Slab One;
  src: url('./font/AlfaSlabOne-Regular.ttf');
} 
@font-face {
  font-family: Bebas Neue;
  src: url('./font/BebasNeue-Regular.ttf');
}

.section5{
  /* width: 1294px; */
  height: 700px;
  margin-top: 30px;
  /* margin-bottom: 200px; */
  /* padding: 16px 16px 16px 63px; */
  background-image: url("./img/group5/Burger-group5.png");
  display: flex;
  flex-direction: column;
}
.mid>h5{
  font-size: 29px;
  letter-spacing: 2px;
  line-height: 46px;
  color: #3d2514;
  font-weight: 700;
  font-family: "Bebas Neue";
}
.mid>h3{
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 46px;
  color: #3d2514;
  font-weight: 400;
  font-family: "Alfa Slab One";
}
.form{
  width: 790px;
  height: 250px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 21px;
  line-height: 46px;
  color: #3d3d3d;
  font-weight: 400;
  font-family: "Bebas Neue";
}
.form>div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
  width: 379px;
height: 65px;
border-radius: 5px;
background-color: rgba(235,174,76,0);
border: 1px solid #bebebe;
}
/* input[type="date"]:not(.has-value):before{ */
  /* content: attr(placeholder); */
/* } */
.form-btn{
  width: 379px;
height: 65px;
border-radius: 5px;
background-color: #bf2222;
font-size: 21px;
line-height: 46px;
color: #ffffff;
font-weight: 400;
font-family: "Alfa Slab One";
}
